/* 全局樣式 */
body {
  background-color: #e8e0d9;
  font-family: "Arial", sans-serif;
}

/* 主要內容容器 */
.content-wrapper {
    display: flex;
    justify-content: center;
    padding: 120px 30px;
}

/* 表單容器 */
.main-content {
  background-color: #fff;
  border-radius: 15px;
  padding: 30px;
  width: 60%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* 表單標題 */
h2 {
  text-align: center;
  color: #374151;
}

/* 分頁按鈕容器樣式 */
.profile-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
  position: relative;
}

/* Tab 按鈕的基礎樣式 */
.tab-btn {
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
}

/* 當前激活的 Tab 按鈕樣式 */
.tab-btn.active {
  color: #184642; /* 當前頁面文字顏色 */
  font-weight: 600; /* 當前頁面字體加粗 */
}

/* 懸停時或當前頁面時的底部橫線動畫 */
.tab-btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #184642; /* 底部橫線顏色 */
  transition: width 0.3s ease-in-out;
}

.tab-btn:hover::after,
.tab-btn.active::after {
  width: 100%; /* 當懸停或激活時，橫線全寬度 */
}

/* Tab 按鈕懸停效果 */
.tab-btn:hover {
  color: #184642; /* 懸停時文字顏色變化 */
}
/* 表單樣式 */
.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

.submit-btn {
  display: block;
  width: 20%;
  padding: 10px;
  background-color: #184642;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto; /* 按鈕水平置中 */
}

.submit-btn:hover {
  background-color: #22635d;
}

